version: "3"
services: 
    node-app:
        build: .
        ports: 
            - "3000:3000"
        environment: 
            - PORT=3000
        depends_on: 
            - mongo-db
    mongo-db:
        image: mongo
        environment: 
            - MONGO_INITDB_ROOT_USERNAME=user
            - MONGO_INITDB_ROOT_PASSWORD=secret
        volumes: 
            - mongo-db:/data/db
volumes: 
    mongo-db: